// Colors
$blue-1: #284e86; //text-header
$blue-2: #0E92FF; //text
$blue-3: #5BB5FD; //border-h
$blue-4: #E8F6FC; //background
$gray-1: #C1C1C1; //border-main
$gray-2: #A0A0A0;  //table-border
$gray-3: #F7F7F7; //BG
$black-1: #606060; //border-v
$green-1: #DFFFBE; //weekend background
$yellow-1: #FCFFA8; //hover background


/* GENERAL */
$page-bg: $gray-3;
